
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Formulario de Paciente</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <!-- Primera Columna -->
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="nombre" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="nombre" placeholder="Nombre del Paciente">
                            </div>
                            <div class="mb-3">
                                <label for="dni" class="form-label">DNI</label>
                                <input type="text" class="form-control" id="dni" placeholder="Número de DNI">
                            </div>
                            <div class="mb-3">
                                <label for="direccion" class="form-label">Dirección</label>
                                <input type="text" class="form-control" id="direccion" placeholder="Dirección del Paciente">
                            </div>
                            <div class="mb-3">
                                <label for="telefono" class="form-label">Teléfono</label>
                                <input type="text" class="form-control" id="telefono" placeholder="Número de Teléfono">
                            </div>
                            <ul class="list-group">
                                <label for="historial" class="form-label">Historial Medico</label>
                                <li class="list-group-item">Item 1</li>
                                <li class="list-group-item">Item 2</li>
                                <li class="list-group-item">Item 3</li>
                            </ul>
                        </div>
    
                        <!-- Segunda Columna -->
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="id" class="form-label">ID del Paciente</label>
                                <input type="text" class="form-control" id="id" placeholder="ID del Paciente">
                            </div>
                            <div class="form-group mb-3">
                                <label for="sexo" class="form-label">Sexo</label>
                                <select class="form-control" id="sexo">
                                    <option value="masculino">Masculino</option>
                                    <option value="femenino">Femenino</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="id" class="form-label">Correo</label>
                                <input type="text" class="form-control" id="id" placeholder="Correo">
                            </div>
                            <div class="search-container">
                                <div class="input-group mb-3 custom-search">
                                    <button class="btn btn-primary" type="button" id="buscar-registros">Buscar</button>
                                    <input type="text" class="form-control ml-1 custom-imput" placeholder="" aria-label="Buscar registros" aria-describedby="buscar-registros">
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Ver</th>
                                            <th>Id</th>
                                            <th>Fecha</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><button class="btn btn-link">
                                                <img src="/img/carpet.png"  alt="" width="15" height="15">
                                            </button></td>
                                            <td>1</td>
                                            <td>2023-08-06</td>
                                        </tr>
                                        <tr>
                                            <td><button class="btn btn-link">
                                                <img src="/img/carpet.png"  alt="" width="15" height="15">
                                            </button></td>
                                            <td>2</td>
                                            <td>2023-08-07</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Guardar Cambios</button>
                </div>
            </div>
        </div>
    </div>