<!-- Modal Detalles de paciente -->

<div
  class="modal fade"
  id="mDetailAppointment"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mDetailAppointmentLabel">Detalles</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <!-- Primera columna -->
          <div class="col-md-6">
            <!-- Campo Nombre -->
            <div class="mb-3">
              <label for="nombre" class="form-label">
                Nombre del Paciente</label
              >
              <input
                type="text"
                class="form-control"
                id="nombre"
                name="nombre"
                value="Juan"
                disabled
              />
            </div>
            <!-- Campo Departamento -->
            <div class="mb-3">
              <label for="departamento" class="form-label"> Departamento</label>
              <input
                type="text"
                class="form-control"
                id="departamento"
                name="departamento"
                value="Ortodoncia"
                disabled
              />
            </div>
          </div>
          <!-- Segunda columna -->
          <div class="col-md-6">
            <!-- Campo Estado-->
            <div class="mb-3">
              <label for="estado" class="form-label"> Estado</label>
              <input
                type="text"
                class="form-control"
                id="estado"
                name="estado"
                value="Confirmado"
                disabled
              />
            </div>
            <!-- Campo Fecha y Hora -->

            <div class="mb-3">
              <label for="fechahora" class="form-label">Fecha y Hora</label>
              <input
                type="text"
                class="form-control"
                id="fecha"
                name="fecha"
                value="12/79"
                disabled
              />
              <input
                type="text"
                class="form-control"
                id="hora"
                name="hora"
                value="10:00"
                disabled
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="motivo">Motivo de Cita:</label>
            <input
              type="text"
              class="form-control"
              id="motivo"
              value="Colocacion de Brackets"
              disabled
            />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
