<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="\css\styles.css">

    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
    <script src="/js/calendario.js"></script>

    <title>Orthodontics</title>
</head>
<body>
    <!--  Barra de navegación -->
    <nav class="navbar navbar-expand-lg">
       
        <!-- Logo -->
        <a class="navbar-brand" href="#">
             <img src="\img\logo.png" width="150" height="40" class="d-inline-block align-top" alt=""> 
             | Agenda
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
  
          <!-- Menu de ventanas del sistema -->
          
          <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
            <ul class="navbar-nav">
            
              <li class="nav-item active">
                  <a class="nav-link" href="#">Agenda de Citas <span class="sr-only">(current)</span></a>
                </li>
  
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                    Citas
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Nueva Cita</a>
                    <a class="dropdown-item" href="#">Todas las Citas</a>
                    <a class="dropdown-item" href="#">Calendario de citas</a>
                    <a class="dropdown-item" href="/src/views/citasProgramadas.html">Citas del dia</a>
                  </div>
                </li>
  
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                    Pacientes
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Pacientes</a>
                    <a class="dropdown-item" href="/src/views/agegarPaciente.html">Nuevo Paciente</a>
                  </div>
                </li>
            </ul>
          </div>
        </nav>

        <!-- Data Intake -->
        <div class="container mt-5">
            <h2 class="mb-4 h2">Crear Usuario</h2>
            <form>
                <div class="row">
                    <!-- Primera columna -->
                    <div class="col-md-6">
                        <!-- Campo Nombre -->
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" required>
                        </div>
        
                        <!-- Campo Teléfono -->
                        <div class="mb-3">
                            <label for="telefono" class="form-label">Teléfono</label>
                            <input type="tel" class="form-control" id="telefono" name="telefono" required>
                        </div>
        
                        <!-- Campo Contraseña -->
                        <div class="mb-3">
                            <label for="password" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <!--Campo de Rol-->
                        <div class = "mb-3">
                            <label for="rol" class = "form-label">Rol del Usuario</label>
                            <select class = "form-control" id="rol" name="rol" required>
                                <option value = "Doctor">Doctor</option>
                                <option value="Secretario">Secretario</option>
                            </select>
                            <!-- <input type="text" class="form-control" id="rol" name="rol" required> -->
                        </div>
                    </div>
        
                    <!-- Segunda columna -->
                    <div class="col-md-6">
                        <!-- Campo Apellido -->
                        <div class="mb-3">
                            <label for="apellido" class="form-label">Apellido</label>
                            <input type="text" class="form-control" id="apellido" name="apellido" required>
                        </div>
        
                        <!-- Campo Correo -->
                        <div class="mb-3">
                            <label for="correo" class="form-label">Correo</label>
                            <input type="email" class="form-control" id="correo" name="correo" required>
                        </div>
        
                        <!-- Campo Confirmar Contraseña -->
                        <div class="mb-3">
                            <label for="confirmarPassword" class="form-label">Confirmar Contraseña</label>
                            <input type="password" class="form-control" id="confirmarPassword" name="confirmarPassword" required>
                        </div>
                    </div>
                </div>
        
                <!-- Botones -->
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-outline-secondary">Cancelar</button>
                </div>
            </form>
        </div>
    
        <script>
            fetch('/components/navbar.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('navbar-container').innerHTML = data;
            })
            .catch(error => console.error('Error al cargar el Navbar:', error));
        </script> 
    
        <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    </body>
</html>