<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="\css\styles.css" />

    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>
    <script src="/js/calendario.js"></script>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <script src="/js/app.js"></script>

    <title>Orthodontics</title>
  </head>
  <body>
    <!--  Barra de navegación -->
    <div id="navbar-container"></div>

    <!--  Tabla de Datos -->

    <div class="container mt-5">
      <div class="row">
        <div class="col-md-4 ml-auto">
          <input
            type="text"
            id="searchInput"
            class="form-control"
            placeholder="Buscar..."
          />
        </div>
        <div class="col-md-2">
          <select id="filterType" class="form-control">
            <option value="all" data-filter="all">Todos</option>
            <option value="departamento" data-filter="departamento">Departamento</option>
            <option value="No Asistió" data-filter="No Asistió">No Asistió</option>
            <option value="Asistió" data-filter="Asistió">Asistió</option>
            <option value="Pendiente" data-filter="Pendiente">Pendiente</option>
          </select>
        </div>
        <div class="col-md-2">
          <!-- hace busqueda en tiempo real -->
          <button class="btn btn-primary" onclick="filterTable()">
            Buscar
          </button>
          <!-- <button class="btn btn-primary" type="button" id="search-register" onclick="searchPatient(document.getElementById('searchInput').value)">Buscar</button> -->
        </div>
      </div>
    </div>

    <!-- Tabla de registros -->

    <div class="mt-5">
      <div class="table">
        <table class="table">
          <thead class="table-primary">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Paciente</th>
              <th scope="col">Departamento</th>
              <th scope="col">Asistencia</th>
              <th scope="col">Hora</th>
              <th scope="col">Editar</th>
              <th scope="col">Detalles</th>
            </tr>
          </thead>
          <tbody id="dataTable">
            <tr>
              <th scope="row">1452567890256464</th>
              <td>Juan Carlos Santana</td>
              <td id="iconToChange">
                <span class="material-icons"> schedule </span>
              </td>
              <td>13:30</td>
              <td>
                <a
                  href="#"
                  class="btn btn-light btn-block"
                  data-toggle="modal"
                  data-target="#modalEditar"
                >
                  <span class="material-icons"> edit </span>
                </a>
              </td>
              <td>
                <a
                  href="#"
                  class="btn btn-light btn-block"
                  data-toggle="modal"
                  data-target="#MyModal"
                >
                  <span class="material-icons"> info </span>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        <nav aria-label="Citas">
          <ul class="pagination justify-content-center">
            <!-- <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li> -->
          </ul>
        </nav>
      </div>
    </div>

    <!-- Modal Editar cita -->

    <div
      class="modal fade"
      id="modalEditar"
      tabindex="-1"
      role="dialog"
      aria-labelledby="modalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalEditarLabel">Editar Cita</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
            <script>
              // let idAppointment = null

              $('#modalEditar').on('show.bs.modal', function (event) {

                const button = event.relatedTarget;
                if (button) {

                  const id = button.getAttribute('id');

                  if (id) {

                    showDetailsAppointmentEdit(id);

                  }

                }

              });

            </script>
          </div>
          <div class="modal-body">
            <div class="row">
              <!-- Primera columna -->
              <div class="col-md-6">
                <!-- Campo Nombre -->
                <div class="mb-3 mt-3">
                  <label for="nombre" class="form-label">
                    Nombre del Paciente</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="nombre-edit"
                    name="nombre"
                    value="Juan"
                    disabled
                  />
                </div>
              </div>
              <!-- Segunda columna -->
              <div class="col-md-6">
                <!-- Campo Departamento -->
                <div class="row mt-3">
                  <div class="col form-group mb-3">
                    <label for="departamento">Departamento:</label>
                    <select class="form-control" id="departamento-edit">
                      <option value="ortodoncia">Ortodoncia</option>
                      <option value="odontología">Odontología</option>
                      <option value="especialidades">Especialidades</option>
                    </select>
                  </div>
                </div>
              </div>

              <!-- Campo Fecha y Hora -->

              <div class="col-md-6">
                <div class="mb-3">
                  <label for="hora">Hora:</label>
                  <input
                    type="time"
                    class="form-control"
                    id="hora-edit"
                    placeholder="hh:mm AM/PM"
                  />
                </div>
              </div>

              <div class="col-md-6">
                <div class="mb-3">
                  <label for="fecha">Fecha:</label>
                  <input type="date" class="form-control" id="fecha-edit" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="motivo">Motivo de Cita:</label>
                <input
                  type="text"
                  class="form-control"
                  id="motivo-edit"
                  value="Colocacion de Brackets"
                />
              </div>
            </div>
            <div class="col-md-6">
              <!-- Campo Estado-->
              <div class="mb-3">
                <label for="estado" class="form-label" hidden> Estado</label>
                <input
                  type="text"
                  class="form-control"
                  id="estado-edit"
                  name="estado"
                  value="Pendiente"
                  hidden
                />
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">
              Cerrar
            </button>
            <button type="button" class="btn btn-primary" onclick="updateAppointment(selectedRowId)">
              Guardar cambios
                <script>

                  let selectedRowId = null;

                  // vieja informacion
                  // let oldDepartment = document.getElementById('departamento-edit').value;
                  // let oldHour = document.getElementById('hora-edit').value;
                  // let oldDate = document.getElementById('fecha-edit').value;
                  // let oldReason = document.getElementById('reason-edit').value;

                  // let department = undefined;
                  // let hourNew = undefined;
                  // let dateNew = undefined;
                  // let reason = undefined;

                  // let department = document.getElementById('departamento-edit').value;
                  // let hourNew = document.getElementById('hora-edit').value;
                  // let dateNew = document.getElementById('fecha-edit').value;
                  // let reason = document.getElementById('motivo-edit').value;
                  // let initialDepartment = '';
                  // let initialHour = '';
                  // let initialDate = '';
                  // let initialReason = '';

                  // Al abrir el modal, obtener el ID de la fila asociada al botón
                  $('#modalEditar').on('show.bs.modal', function (event) {

                    const button = event.relatedTarget;
                    // alert(button);
                    if (button) {

                      const id = button.getAttribute('id');

                      if (id) {

                        selectedRowId = button.getAttribute('id');

                      }

                    }
                    // showDetailsAppointmentEdit(selectedRowId);

                    // initialDepartment = document.getElementById('departamento-edit').value;
                    // initialHour = document.getElementById('hora-edit').value;
                    // initialDate = document.getElementById('fecha-edit').value;
                    // initialReason = document.getElementById('motivo-edit').value;

                    // department = document.getElementById('departamento-edit').value;
                    // hourNew = document.getElementById('hora-edit').value;
                    // dateNew = document.getElementById('fecha-edit').value;
                    // reason = document.getElementById('motivo-edit').value;

                    // alert(button.getAttribute('id'))
                    // console.log('selectedRowId', selectedRowId);
                    // const iconCell = document.querySelector(`tr[id="${selectedRowId}"] .icon-cell`);

                    // const iconCell = document.getElementById(`state-${selectedRowId}`);
                    // // console.log('iconCell', iconCell)

                    // if (iconCell) {

                    //   oldIcon = iconCell.textContent; // Almacenar el estado viejo

                    // }

                    // console.log('oldIcon', oldIcon);

                    // const cancelButton = document.querySelector('#modalEditar .btn[data-icon="cancel"]');
                    // const checkCircleButton = document.querySelector('#modalEditar .btn[data-icon="check_circle"]');               

                    const saveButton = document.querySelector('#modalEditar .btn.btn-primary');
                    saveButton.addEventListener('click', function () {

                      $('#modalEditar').modal('hide');

                    });

                  });

                </script>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Detalles de paciente -->

    <div
      class="modal fade"
      id="MyModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="modalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="MyModalLabel">Detalles</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
            <script>
              // let idAppointment = null
  
              $('#MyModal').on('show.bs.modal', function (event) {
  
                const button = event.relatedTarget;
                // alert(button.getAttribute('id'));
  
                showDetailsAppointment(button.getAttribute('id'));
  
              });
  
            </script>
          </div>
          <div class="modal-body">
            <div class="row">
              <!-- Primera columna -->
              <div class="col-md-6">
                <!-- Campo Nombre -->
                <div class="mb-3">
                  <label for="nombre" class="form-label">
                    Nombre del Paciente</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="nombre"
                    name="nombre"
                    value="Juan"
                    disabled
                  />
                </div>
                <!-- Campo Departamento -->
                <div class="mb-3">
                  <label for="departamento" class="form-label">
                    Departamento</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="departamento"
                    name="departamento"
                    value="Ortodoncia"
                    disabled
                  />
                </div>
              </div>
              <!-- Segunda columna -->
              <div class="col-md-6">
                <!-- Campo Estado-->
                <div class="mb-3">
                  <label for="estado" class="form-label"> Estado</label>
                  <input
                    type="text"
                    class="form-control"
                    id="estado"
                    name="estado"
                    value="Pendiente"
                    disabled
                  />
                </div>
                <!-- Campo Fecha y Hora -->

                <div class="mb-3">
                  <label for="fechahora" class="form-label">Fecha y Hora</label>
                  <input
                    type="text"
                    class="form-control"
                    id="fecha-details"
                    name="fecha"
                    value="12/79"
                    disabled
                  />
                  <input
                    type="text"
                    class="form-control mt-3"
                    id="hora"
                    name="hora"
                    value="10:00"
                    disabled
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="motivo">Motivo de Cita:</label>
                <input
                  type="text"
                  class="form-control"
                  id="motivo"
                  value="Colocacion de Brackets"
                  disabled
                />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">
              Cerrar
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- para errores -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="customModel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="code">${appointments.code}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="body">
                  <p id="message">${appointments.message || ''}</p>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
              </div>
          </div>
      </div>
    </div>

    <script>

    </script>

    <script>
      fetch("/components/navbar.html")
        .then((response) => response.text())
        .then((data) => {
          document.getElementById("navbar-container").innerHTML = data;
        })
        .catch((error) => console.error("Error al cargar el Navbar:", error));
    </script>


    <script>

      verifySession();
      showAllAppointments();



      const patientList = document.getElementById('dataTable');
      const searchInput = document.getElementById('searchInput');

      // Función para mostrar u ocultar filas según el término de búsqueda
      function updatePatientList(searchTerm) {
        searchTerm = searchTerm.toLowerCase();

        for (const row of patientList.rows) {
          let rowVisible = false;

          for (const cell of row.cells) {
            const cellContent = cell.textContent.toLowerCase();
            if (cellContent.includes(searchTerm)) {
              rowVisible = true;
              break;
            }
          }

          row.style.display = rowVisible ? 'table-row' : 'none';
        }
      }

      // Evento para escuchar cambios en el campo de búsqueda
      searchInput.addEventListener('input', function () {
        const searchTerm = this.value;
        updatePatientList(searchTerm);
      });

      // Actualiza la lista de pacientes al cargar la página
      updatePatientList('');

      // const dataTable = document.getElementById('dataTable');
      const filterType = document.getElementById('filterType');

      function updateTable(filterValue) {
        for (const row of dataTable.rows) {
          let rowVisible = false;

          if (filterValue === 'all') {
            rowVisible = true;
          } else {
            const filterCell = row.querySelector(`td[data-filter="${filterValue}"]`);
            if (filterCell) {
              rowVisible = true;
            }
          }

          row.style.display = rowVisible ? 'table-row' : 'none';
        }
      }

      // Evento para escuchar cambios en el filtro
      filterType.addEventListener('change', function () {
        const selectedFilter = this.value;
        updateTable(selectedFilter);
      });

      // Actualiza la tabla al cargar la página
      updateTable('all');

    </script>

  </body>
</html>
