<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Orthodontics Inicio de sesión</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body style="height: 100vh;">

<div class="container-fluid h-100">
    <div class="row h-100">

        <!-- Contenedor Izquierdo -->
        <div class="col-6 d-flex  justify-content-center align-items-center" style="background-color: #0077B6">
                <img src="Users\Usuario\OneDrive\Escritorio\ING SOFTWARE\PROPIEDADES DEL DISEÑO\tooth.png" alt="Orthodontics" class="img-fluid">
                    
        </div>

        <!-- Contenedor Derecho con el Formulario de Inicio de Sesión -->
        <div class="col-6 d-flex justify-content-center align-items-center ">
            <div class="w-50">
                <h2>Iniciar Sesión</h2>
                <form action="/tu_endpoint" method="post">
                    <div class="form-group">
                        <label for="email">Correo Electrónico:</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="pwd">Contraseña:</label>
                        <input type="password" class="form-control" id="pwd" name="pwd" required>
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>

</body>
</html>